 @charset "UTF-8";
/*
 em html id = # em css
 em html class= . em css
 */


 body{
    background-color: rgb(164, 204, 137);
    font-family: Arial, Helvetica, sans-serif;
 }
 h1{
    color: rgb(15, 35, 214);
    
 }
 h1#principal{
    color: black;
    text-align: center;
    background-color: green;
 }
 h2{
    color: rgb(7, 22, 240);
 }
 .basico{
    color: green;
 }
 .intermediario{
    color: yellow;
 }
 .avancado{
    color: red;
 }
 .destaque{
    background-color: rgba(250, 250, 9, 0.596);
 }